<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-136344804-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag('_setDomainName', 'igen.com');
      gtag("config", "UA-136344804-1");
    </script>

    <title>505</title>
  </head>
  <body>
    <h1>500 Server Error</h1>
    <p>Oops, something is wrong on our end :(</p>
    <p>
      Please contact the website owner about this issue or wait while this issue
      is resolved.
    </p>
  </body>
</html>
